*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main {
    width: 1170px;
    margin: 0 auto;
}
section {
    width: 1170px;
    margin: 0 auto;
}
body {
    background-color: rgb(233, 235, 175);
}